html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(107, 104, 89);
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

canvas {
    display: block;
}
